body {
  background: #1f2b42;
  margin: 0 !important;
  padding: 0 !important;
  display : flex;
  flex-direction: column;
  height: 100%;
  align-self: flex-start;
}

h1 {
  align-self: center;
  color: white;
}

#mainboard {
  display: flex;
  align-self: center;
  margin: auto;
}

.item {
  background: linear-gradient(135deg, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
  width: 136px;
  height: 136px;
  border: 1px solid lightBlue;
  border-radius: 10px;
  margin: 10px 5px;
  cursor: pointer;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center
}

.item:hover {
  background: linear-gradient(135deg, #f0f9ff 0%,#828ea3 51%,  #a4adbc 100%);
}

.o {
  background:lightGreen
}

.x {
  background: pink
}
